table {
    width: 100%;
    display: block;
}
tr {
    text-align: left;
    line-height: 2;
}
.btns {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
button {
    margin: 0 10px;
}
