.left input {
    width: 50vw;
}
.btn-send {
    padding: 9px 15px;
    margin-top: 0;
    margin-left: 20px;
}

.error_message {
    padding-left: 11%;
}
button {
    font-size: 12px;
}

@media (max-width: 1024px) {
    .error_message {
        padding-left: 14%;
    }
}
@media (max-width: 599px) {
    h1 {
        font-size: 20px;
        text-align: center;
    }
    select,
    button {
        font-size: 10px;
    }
    .error_message {
        padding-left: 4%;
    }
}
