.left input {
    width: 50vw;
}
.btn-send {
    padding: 9px 15px;
    margin-top: 0;
}
.error_message {
    padding-left: 10%;
}
button {
    font-size: 12px;
}
.listed_input input {
    width: 50%;
}
