.left {
    text-align: right;
    width: 10%;
}
.input_task input {
    width: 55vw;
}
.error_message {
    padding-left: 17%;
}
@media (max-width: 1024px) {
    .error_message {
        padding-left: 26%;
    }
}
@media (max-width: 599px) {
    .error_message {
        padding-left: 28%;
    }
}
